@model Accident.Models.RequestModel.AccidentCreateDto



<h4>AccidentCreateDto</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" asp-action="Create" method="post">
        <div id="general">

        </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#display").click(function () {

                $.ajax({    //create an ajax request to display.php
                    type: "GET",
                    url: "/../../Accident/Create2",
                    contentType: "application/json; charset=utf-8",   //expect html to be returned                
                    success: function (response) {
                        $("responsecontainer").html(response);
                        //alert(response);
                    }
            $("#general").append('<div asp-validation-summary="ModelOnly" class="text - danger"></div> <div class="form-group"><label asp-for="Id" class="control-label">Accident No: </label><label asp-for="Id" class="control-label">@ViewBag.AccidentNo</label></div><div class="form-group"><label asp-for="Title" class="control-label"></label><input asp-for="Title" class="form-control" /><span asp-validation-for="Title" class="text-danger"></span>  </div><div class="form-group"><label asp-for="Date" class="control-label"></label><input asp-for="Date" class="form-control txtDate" /><span asp-validation-for="Date" class="text-danger"></span></div><div class="form-group"><label asp-for="Description" class="control-label"></label><input asp-for="Description" class="form-control" /></div><div class="form-group"><label asp-for="File" class="control-label"></label><input type = "file" asp-for="File" class="form-control" /><span asp-validation-for="File" class="text-danger"></span></div><div class="form-group"><input type = "submit" value="Create" class="btn btn-primary" /> </div>');
        });
    </script>

    }

